<section class="footer">
  <div class="top pb-32px pt-32px pr-24px pl-24px">
    <div class="row">
      <div class="col-lg-5">
        <footer-nav></footer-nav>
      </div>
      <div class="col-lg-7 right">
        <div class="row">
          <div class="footer-social-holder col-md-6 display-flex justify-content-md-end">
            <footer-social [settings]="core_settings"></footer-social>
          </div>


          <div class="pb-24px col-md-6 mt-md-0 mt-2">
            <footer-subscribe [settings]="core_settings"></footer-subscribe>
          </div>

        </div>
      </div>
    </div>
  </div>
 
  <div class="bottom pr-24px pl-24px">
    <div class="row justify-content-center">
      <h5 class="h5 i-regular pt-32px pb-32px grey">©2019-2020 Idealizerr website by <a href="#" class="grey">Laluna Studio</a></h5>
    </div>
  </div>
</section>
