<section class="core-main-page">
  <div class="sigle-element-cover-slider-holder">
    <single-element-cover-slider [items]="slider_items"></single-element-cover-slider>
  </div>

  <div class="core-main-competition-section-holder section-space">
    <div class="wrapper">
      <core-main-competition-section></core-main-competition-section>
    </div>
  </div>

  <div class="core-main-startups-section-holder section-space">
    <div class="wrapper">
      <core-main-startups-section></core-main-startups-section>
    </div>
  </div>

  <!-- <div class="core-main-events-section-holder  section-space">
    <div class="wrapper pb-24px pt-24px">
      <div class="border-top">
        <core-main-events-section></core-main-events-section>
      </div>
    </div>
  </div> -->
</section>