<section class="core-competition-participants">
  <h1 class="h1 i-semi-bold pb-24px">{{"home.partterm" | translate}}</h1>
  <div>
    <p class="p i-regular lh-24px">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, totam. Ex, ratione
      velit!
      Obcaecati deleniti, excepturi, quam porro blanditiis iste eaque distinctio harum.Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Quos, totam. Ex, ratione velit! Obcaecati deleniti, excepturi, quam porro blanditiis
      iste eaque distinctio harum.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, totam. Ex, ratione
      velit!
      Obcaecati deleniti, excepturi, quam porro blanditiis iste eaque distinctio harum.Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Quos, totam. Ex, ratione velit! Obcaecati deleniti, excepturi, quam porro blanditiis
      iste eaque distinctio harum.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, totam. Ex, ratione
      velit! Obcaecati deleniti, excepturi, quam porro blanditiis iste eaque distinctio harum.Lorem ipsum dolor, sit
      amet consectetur adipisicing elit. Quos, totam. Ex, ratione velit! Obcaecati deleniti, excepturi, quam porro
      blanditiis iste eaque distinctio harum.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, totam. Ex, ratione velit! Obcaecati deleniti,
      excepturi, quam porro blanditiis iste eaque distinctio harum.Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Quos, totam. Ex, ratione velit! Obcaecati deleniti, excepturi, quam porro blanditiis iste eaque distinctio
      harum.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, totam. Ex, ratione velit! Obcaecati
      deleniti, excepturi, quam porro blanditiis iste eaque distinctio harum.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos, totam. Ex, ratione velit! Obcaecati deleniti,
      excepturi, quam porro blanditiis iste eaque distinctio harum.Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Quos, totam. Ex, ratione velit! Obcaecati deleniti, excepturi, quam porro blanditiis iste eaque distinctio
      harum.</p>
  </div>
</section>