<div class="auth-recovery-password-holder">
  <div class="top">
    <h2 class="h2 i-medium pb-8px">{{"global.your-new-pass" | translate}}</h2>
    <p class="p i-light">{{"global.renew-pass" | translate}}</p>
  </div>
  <div class="center">
    <div class="pb-40px">
      <form [formGroup]='form'
            autocomplete='on'
            validate
            (keyup.enter)='submitForm()'>


        <!-- 1 -->
        <div class="row">
          <div class="col-12">
            <!-- COMMENT ================================================================================ -->
            <div class="input-holder pb-32px">
              <label for="password">{{"global.password" | translate}}</label>
              <div class="input password">
                <input [type]='password_visible ? "text" : "password"'
                       name='password'
                       placeholder='{{"global.password-placeholder" | translate}}'
                       formControlName='password'
                       id='password'>
                <i class="mdi mdi-eye"
                   *ngIf="!password_visible"
                   (click)="togglePasswordVisible()"></i>
                <i class="mdi mdi-eye-off"
                   *ngIf="password_visible"
                   (click)="togglePasswordVisible()"></i>
              </div>
              <ul>
                <li *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
                  {{"global.requiredField" | translate}}</li>
                <li *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched">
                  {{"global.requiredSymbol" | translate:{'val': 6}  }}</li>
              </ul>
            </div>
            <!-- ================================================================================ COMMENT -->
          </div>
        </div>

        <!-- 2 -->
        <div class="row">
          <div class="col-md-12 col-12">
            <button class="btn btn-brand7 w100"
                    [disabled]="!form.valid"
                    (click)="submitForm()">{{"global.refresh" | translate}}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="bottom"></div>
</div>