<div class="dashboard-header">
  <div class="wrapper h100">
    <div class="h100 display-flex justify-content-space-between align-items-center">


      <!-- COMMENT ================================================================================ -->
      <div class="left d-block-mobile">
        <h3 class="h3 i-medium">{{title}}</h3>
      </div>
      <!-- ================================================================================ COMMENT -->

      <app-timeline class="mob-w100"></app-timeline>

      <!-- COMMENT ================================================================================ -->
      <div class="right d-block-mobile">


        <div>
          <header-auth [user]="user"></header-auth>
        </div>


      </div>
      <!-- ================================================================================ COMMENT -->


    </div>

  </div>
</div>