@import 'src/assets/scss/abstracts/variables';

.startups-filter {
    border-bottom: $border3;

    >div {
        margin: 0px -12px;
        margin-bottom: -3px;

        ul {
            li {
                padding: 0px 12px;

                a {
                    transition: $transition-2;
                    padding: 12px 0px;
                    display: block;
                    font-size: $h4;
                    font-family: $i_regular;
                    border-bottom: 3px solid $transparent;

                    &.active {
                        border-bottom: 3px solid $brand3;
                        font-family: $i_semi_bold;
                        color: $brand3;
                    }

                    @media (max-width: 522px) {
                        font-size: 16px;
                    }
                }
            }
        }

    }
}