@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/mixins";
@import "~node_modules/bootstrap/scss/variables";
@import "~node_modules/bootstrap/scss/utilities";
//BASE
@import "/assets/scss/base/reset";
@import "/assets/scss/base/normalize";
@import "/assets/scss/base/typography";
@import "/assets/scss/base/color";
@import "/assets/scss/base/single";
@import "/assets/scss/base/innerhtml";

// ABSTRACTS
@import "/assets/scss/abstracts/variables";

//LAYOUT
@import "/assets/scss/layout/wrapper";

//COMPONENTS
@import "/assets/scss/components/button";
@import "/assets/scss/components/slick";
@import "/assets/scss/components/flipclock";
@import "/assets/scss/components/input";
@import "/assets/scss/components/checkbox";
@import "/assets/scss/components/radio";
@import "/assets/scss/components/datepicker";



.information {
  h3.name {
    padding: 16px 24px;
    padding-top: 50px;

    @media (max-width: 991px) {
      font-size: 21px;
    }
  }
}
.startup-card {
  .information {
    a {
      width: 100%;
    }
    h3.name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

    }
  }
  .desc {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.loading-holder {
  text-align: center;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: .25rem solid $brand3;
  border-top-color: rgba($brand3, 0.2);
  animation: spin 1s infinite linear;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pulse-anim {
  animation: pulse-purple 2s infinite;
}

@keyframes pulse-purple {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($brand3, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($brand3, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($brand3, 0);
  }
}


.startup-name {
  color: blue;
}


.little-warning {
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 18px;
  border-radius: 4px;
  min-height: 48px;
  background-color: #FFC000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.little-danger {
  margin-bottom: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 18px;
  border-radius: 4px;
  min-height: 48px;
  background-color: #FF045B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}