<div class="whitebox">
  <h4 class="h4 i-semi-bold grey pb-40px">{{"global.renew-pass" | translate}}</h4>


  <div>
    <form [formGroup]='form'
          autocomplete='on'
          validate
          (keyup.enter)='submitForm()'>


      <!-- NAME ================================================================================ -->
      <div class="input-holder pb-32px">
        <label for="password">{{"global.password" | translate}}</label>
        <div class="input password">
          <input [type]='password_visible ? "text" : "password"'
                 name='password'
                 placeholder='{{"global.password-placeholder" | translate}}'
                 formControlName='password'
                 id='password'>
          <i class="mdi mdi-eye"
             *ngIf="!password_visible"
             (click)="togglePasswordVisible()"></i>
          <i class="mdi mdi-eye-off"
             *ngIf="password_visible"
             (click)="togglePasswordVisible()"></i>
        </div>
        <ul>
          <li *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched">
            {{"global.requiredField" | translate}}
          </li>
          <li *ngIf="form.controls['password'].hasError('minlength') && form.controls['password'].touched">
            {{"global.requiredSymbol" | translate:{val: 6} }}
          </li>
        </ul>
      </div>
      <!-- ================================================================================ COMMENT -->


      <!-- NAME ================================================================================ -->
      <div class="input-holder">
        <label for="new_password">{{"global.your-new-pass" | translate}}</label>
        <div class="input password">
          <input [type]='new_password_visible ? "text" : "password"'
                 name='new_password'
                 placeholder='{{"global.password-placeholder" | translate}}'
                 formControlName='new_password'
                 id='new_password'>
          <i class="mdi mdi-eye"
             *ngIf="!new_password_visible"
             (click)="toggleNewPasswordVisible()"></i>
          <i class="mdi mdi-eye-off"
             *ngIf="new_password_visible"
             (click)="toggleNewPasswordVisible()"></i>
        </div>
        <ul>
          <li *ngIf="form.controls['new_password'].hasError('required') && form.controls['new_password'].touched">
            {{"global.requiredField" | translate}}
          </li>
          <li *ngIf="form.controls['new_password'].hasError('minlength') && form.controls['new_password'].touched">
            {{"global.requiredSymbol" | translate:{val: 6} }}</li>
        </ul>
      </div>
      <!-- ================================================================================ COMMENT -->

    </form>
  </div>

  <a (click)="submitForm()"
     *ngIf="form_value_changed"
     class="dashboard-form-submit-btn">{{"global.refresh" | translate}}</a>

</div>