<section class="dashboard-layout">
  <div>
    <dashboard-header></dashboard-header>
  </div>
  <div>
    <dashboard-sidebar></dashboard-sidebar>
  </div>
  <div class="router-holder">
    <div class="show-mobile">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto left">
          <h3 class="h5 i-medium">{{title}}</h3>
        </div>
        <div class="col-auto right">
          <header-auth [user]="user"></header-auth>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</section>